<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/css/bulma.min.css">

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>

    <title>{{obj.name}}</title>
</head>
<body>
    <div class="container m-6" style="margin-top: 10px;">
        {% if messages %}
        <div class="notification is-danger" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        <h1 style="margin-top: 20px;" class="title">{{obj.name}}</h1>
        <h5 class="subtitle">uuid:{{obj.duuid}}</h5>
        <h5 class="subtitle">创建时间:{{obj.ctime}}</h5>
        <form class="" action="/download/" method="post">
            <div class="field">
                <label class="label">验证码:</label>
                <img class="image is-2by1" id="captcha" src="" alt="">
                <input style="margin-top: 5px;" type="text" class="input" name="captcha" placeholder="captcha" value="">
                <p class="help">看不清？点击图片换一个。</p>
                <input type="text" name="files" value="{{obj.duuid}}" style="display: none;">
                {% csrf_token %}
                <button type="submit" class="button is-link mt-3">下载</button>
            </div>
        </form>
    </div>
<script>
$.ajax({
    type:"GET",
    url:'/captcha/',
    success:function(dats){
        document.getElementById("captcha").src=dats;
    }
});
document.getElementById("captcha").onclick=function(){
    $.ajax({
        type:"GET",
        url:'/captcha/',
        success:function(dats){
            document.getElementById("captcha").src=dats;
        }
    })
}
</script>
</body>
</html>