<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/css/bulma.min.css">

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>

    <title>File share</title>
</head>
<body>
    <div class="container">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="margin-top: 20px;">
            <thead>
            <tr>
                <th>ID</th>
                <!-- <th>文件唯一值</th> -->
                <th>文件名</th>
                <th>创建时间</th>
                <th>下载链接</th>
            </tr>
            </thead>
            <tbody>
            {% for i in obj %}
                <tr>
                    <th scope="row">{{i.id}}</th>
                    <!-- <td>{{i.duuid}}</td> -->
                    <td>{{i.name}}</td>
                    <td>{{i.ctime}}</td>
                    <td><a class="button is-success" href='/{{i.duuid}}/'>下载</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>